/* line 4, components/tables.css.scss */
.table.no-border {
  border: none; }
  /* line 7, components/tables.css.scss */
  .table.no-border tr, .table.no-border td, .table.no-border thead, .table.no-border th, .table.no-border tfoot, .table.no-border tbody {
    border: none; }

/* line 10, components/tables.css.scss */
.table {
  margin-bottom: 0px; }
  /* line 12, components/tables.css.scss */
  .table th, .table thead {
    font-weight: 600; }

/* DataTables */
/* line 16, components/tables.css.scss */
div.dataTables_filter {
  margin-top: 10px;
  display: block; }
  /* line 19, components/tables.css.scss */
  div.dataTables_filter label {
    float: left; }
  /* line 23, components/tables.css.scss */
  div.dataTables_filter label {
    margin-left: 10px; }
  /* line 27, components/tables.css.scss */
  div.dataTables_filter input {
    padding: 0;
    line-height: 25px;
    height: 25px;
    width: 150px; }

/* line 35, components/tables.css.scss */
div.dataTables_wrapper .fg-toolbar {
  text-align: center;
  margin-top: 20px; }

/* line 40, components/tables.css.scss */
.dataTables_length {
  position: absolute;
  top: 10px;
  right: 10px; }
  /* line 45, components/tables.css.scss */
  .dataTables_length select {
    padding: 0;
    line-height: 22px;
    height: 22px;
    margin-top: 2px; }

/* line 54, components/tables.css.scss */
.dataTables_wrapper table {
  border-bottom: 1px solid #DDD; }
/* line 58, components/tables.css.scss */
.dataTables_wrapper .fg-toolbar {
  overflow: hidden;
  *zoom: 1; }
/* line 62, components/tables.css.scss */
.dataTables_wrapper .ui-widget-header {
  background: #fff;
  border: none;
  padding: 0; }

/* line 69, components/tables.css.scss */
.DataTables_sort_icon {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle; }

/* line 75, components/tables.css.scss */
div.dataTables_paginate {
  float: none;
  margin-bottom: 20px;
  padding-right: 10px;
  display: block;
  text-align: center; }
  /* line 82, components/tables.css.scss */
  div.dataTables_paginate a {
    padding: 4px 8px;
    margin-left: -3px; }
  /* line 87, components/tables.css.scss */
  div.dataTables_paginate .first {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
  /* line 91, components/tables.css.scss */
  div.dataTables_paginate .last {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
  /* line 95, components/tables.css.scss */
  div.dataTables_paginate .ui-state-default {
    font-weight: normal;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
  /* line 100, components/tables.css.scss */
  div.dataTables_paginate .ui-state-disabled, div.dataTables_paginate .ui-state-disabled:hover {
    background: #ddd;
    cursor: default;
    margin-left: 3px;
    text-shadow: none; }

/* line 108, components/tables.css.scss */
th.ui-state-default {
  border: none;
  background: #fff;
  font-weight: 600;
  color: #33566a;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
