extend ../partials/init.part.jade

block bodyBlock
  nav#navigation.fixed-top
    .container
      .row-fluid
        .span12.center
          // LOGO
          a.brand.pull-left(href='./')
            img(src='/public/images/logo.fw.png', alt='OwnYourCity')
          // END LOGO
          // MOBILE MENU BUTTON
          .mobile-menu(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // END MOBILE MENU BUTTON
          // MAIN MENU
          ul#main-menu.nav-collapse.collapse
            li
              a(href='/ ') Home
            li
              a(href='/#page-features') Features
            li
              a(href='/#page-about') About
            li
              a(href='/#page-contact') Contact
          // END MAIN MENU
          // SOCIAL ICONS
          .social-icons.hover-big.pull-right
            a.sicon-facebook(href='#')
              i Facebook
            a.sicon-twitter(href='#')
              i Twitter
            a.sicon-linkedin(href='#')
              i LinkedIn
            a.sicon-youtube(href='#')
              i Youtube
            a.sicon-pinterest(href='#')
              i Pinterest
  section#main
    .container-fluid
       include ../partials/flash.part.jade
      .row-fluid
        .span12
          .login-container.center
            .title.text-transparent Forgot password
            hr.main
            form.login-form(method='post', action='/forgot')
              input(type='hidden', name='_csrf', value='#{csrfToken}')
              ul.fields-list
                li
                  i.icon-email(style='float: left;')
                  input#username(type='text', autocomplete='off', name='email', placeholder='email')
              .actions
                button.btn.btn-large.medium-blue.login-btn(type='submit')
                  | Submit
                a.btn.btn-large.medium-blue.login-btn(href='/login')
                  | Go to Login
                a.btn.btn-large.medium-blue.login-btn(href='/register')
                  | Go to Register
              hr.main
              .social-actions-title
                | Access using these social accounts
              hr.main
              .social-actions
                a.social-link.text-transparent(href='#', rel='tooltip', data-placement='top', data-original-title='Linkedin Login')
                  i.icon-linkedin
