section#main
	.container-fluid
		.row-fluid
			.span12
				.span6.offset3(style = 'margin-top: 200px; background-color: rgb(234, 234, 240); height: 300px; width: 300px; text-align: center')
					h4 Don't press back or refresh button we are connecting you to dwolla.
					a(href='/redirecttodwolla', style='text-align: center')
						|	Click here to continue